/* Manuka */

@font-face {
    font-family: 'Manuka';
    src: url('./../assets/fonts/manuka.woff2') format('woff2'),
        url('./../assets/fonts/manuka.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: extra-condensed;
    unicode-range: U+0020-00FE;
}



/* ———————————————————————————————————————————————————————————————————————————————— */
/* Fira Code */

@font-face {
    font-family: 'Fira Code';
    src: url('./../assets/fonts/FiraCodeLight.woff2') format('woff2'),
        url('./../assets/fonts/FiraCodeLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./../assets/fonts/FiraCodeMedium.woff2') format('woff2'),
        url('./../assets/fonts/FiraCodeMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./../assets/fonts/FiraCodeRegular.woff2') format('woff2'),
        url('./../assets/fonts/FiraCodeRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./../assets/fonts/FiraCodeSemiBold.woff2') format('woff2'),
        url('./../assets/fonts/FiraCodeSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family: 'Fira Code';
    src: url('./../assets/fonts/FiraCodeBold.woff2') format('woff2'),
        url('./../assets/fonts/FiraCodeBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}



/* ———————————————————————————————————————————————————————————————————————————————— */
/* Share Tech Mono */

@font-face {
    font-family:'Share Tech Mono';
    src: url('./../assets/fonts/shareTechMono.woff2') format('woff2'),
		url('./../assets/fonts/shareTechMono.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}