/* 
    ————— IMPORTS —————
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./filterline.css);
@import url(./reset.css);

/* ———————————————————————————————————————— */
/* ROOT */

@layer base {
    :root {

        /* FONTS */
        --font-manuka: "Manuka";
        --font-firaCode: "Fira Code";
        --font-shareTechMono: "Share Tech Mono";

        /* COLORS */
        --color-background: 240, 240, 240;
        --color-black: 36, 53, 66;
        --color-blue: 15, 199, 255;
        --color-red: 255, 31, 79;
        --color-pink: 255, 5, 159;
    }

    [dark-mode] {
        --color-background: 36, 53, 66;
        --color-black: 255, 255, 255;
    }

    html {
        font-family: var(--font-firaCode), system-ui, sans-serif;
        background-color: rgb(var(--color-background));
        color: rgb(var(--color-black));
    }


    /* —————————————— FONTS —————————————— */
    /* Manuka */
    @font-face {
        font-family: 'Manuka';
        src: url('./../assets/fonts/manuka.woff2') format('woff2'),
            url('./../assets/fonts/manuka.woff') format('woff');
        font-weight: 700;
        font-style: normal;
        font-stretch: extra-condensed;
        unicode-range: U+0020-00FE;
    }


    /* Fira Code */
    @font-face {
        font-family: 'Fira Code';
        src: url('./../assets/fonts/FiraCodeLight.woff2') format('woff2'),
            url('./../assets/fonts/FiraCodeLight.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        unicode-range: U+0020-02DC;
    }

    @font-face {
        font-family: 'Fira Code';
        src: url('./../assets/fonts/FiraCodeMedium.woff2') format('woff2'),
            url('./../assets/fonts/FiraCodeMedium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        unicode-range: U+0020-02DC;
    }

    @font-face {
        font-family: 'Fira Code';
        src: url('./../assets/fonts/FiraCodeRegular.woff2') format('woff2'),
            url('./../assets/fonts/FiraCodeRegular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        unicode-range: U+0020-02DC;
    }

    @font-face {
        font-family: 'Fira Code';
        src: url('./../assets/fonts/FiraCodeSemiBold.woff2') format('woff2'),
            url('./../assets/fonts/FiraCodeSemiBold.woff') format('woff');
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        unicode-range: U+0020-02DC;
    }

    @font-face {
        font-family: 'Fira Code';
        src: url('./../assets/fonts/FiraCodeBold.woff2') format('woff2'),
            url('./../assets/fonts/FiraCodeBold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        unicode-range: U+0020-02DC;
    }


    /* Share Tech Mono */
    @font-face {
        font-family: 'Share Tech Mono';
        src: url('./../assets/fonts/shareTechMono.woff2') format('woff2'),
            url('./../assets/fonts/shareTechMono.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        unicode-range: U+0020-00FE;
    }
}

.filter-line {
    position: relative;
    display: flex;

    & input {
        opacity: 0;
        cursor: pointer;

        &:checked+label::before {
            background-color: black;
            content: '';
            display: block;
            width: 10.5px;
            height: 10px;
            left: 2px;
            position: absolute;
        }

    }

    & label {
        padding-left: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &::before {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}